@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);
@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);

body {
    font-family: "LiHei Pro", "Noto Sans TC", "·L³n¥¿¶ÂÅé", "Microsoft JhengHei", sans-serif;
    font-size: 15px;
    font-weight: 300;
    padding-top: 100px;
    padding-left: 270px;
    background-color: #FFE;
    height: 100vh;
}

a {
    color: black;

    &:focus, &:hover, &:active {
        color: black;
        text-decoration: none;
    }
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    padding-left: 270px;
    background-color: #C62828;
    text-align: center;
    color: white;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    z-index: 1;

    h2 {
        margin: 0;
        font-size: 1em;
        margin-top: 30px;
    }
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.8);
    z-index: 3;
    display: none;
    cursor: pointer;

    &::before {
        content: "\f405";
        font-family: "Ionicons";
        position: absolute;
        top: 0;
        right: 5px;
        color: white;
        font-size: 3em;
    }
}

.loading-overlay {
    position: fixed;
    top: 80px;
    right: 0;
    left: 270px;
    height: 120px;
    background-color: rgba(0,0,0,.7);
    z-index: 2;
    display: none;

    img {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }
}




.menu-humbuger, .refresh {
    position: absolute;
    top: 50%;
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 2.5em;
    cursor: pointer;
}

.menu-humbuger {
    left: 10px;
}

.refresh {
    right: 10px;
    color: white;
    -moz-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
    transition: all .5s ease-in;
}


.menu-left {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 270px;
    background-color: white;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    box-shadow: 0 0 5px rgba(0,0,0, .4);
    z-index: 4;

    > ul > li > a {
        color: black;
        font-weight: 500;
        padding: 20px 15px;
        font-size: 1.1em;
    }

    .menu-title {
        height: 150px;
        background-color: #C62828;

        img {
            margin: 15px;
            width: 80px;
            border-radius: 50%;
            box-shadow: 1px 1px 5px rgba(0,0,0,.4);
        }
    }

    &.is-visible {
        transform: translateX(0);
    }
}


@media(max-width:991px) {
    body, header {
        padding-left: 0;
    }

    .menu-left {
        -moz-transform: translateX(-280px);
        -ms-transform: translateX(-280px);
        -o-transform: translateX(-280px);
        -webkit-transform: translateX(-280px);
        transform: translateX(-280px);
    }

    .overlay.is-visible {
        display: block;
    }

    .loading-overlay {
        left: 0;
    }
}

.item-warp {
    margin-bottom: 30px;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    background-color: #F0E0D6;
    position: relative;

    .item-hideNum {
        position: absolute;
        right: -7px;
        top: 10px;
        padding: 5px 10px;
        color: white;
        font-weight: 500;
        background-color: #CC1105;
        z-index: 1;

        &::before {
            content: "";
            position: absolute;
            right: 2px;
            top: -4px;
            border-color: darken(#CC1105, 10) transparent transparent transparent;
            border-width: 5px;
            border-style: solid;
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    .item-info {
        padding: 0 10px;
    }

    .item-header {
        display: flex;
        background-color: white;
        position: relative;
        overflow: hidden;

        img {
            margin: auto;
            -moz-transition: all .3s ease-in-out;
            -o-transition: all .3s ease-in-out;
            -webkit-transition: all .3s ease-in-out;
            transition: all .3s ease-in-out;
        }

        .item-id {
            position: absolute;
            bottom: 0px;
            right: 0;
            padding: 5px 10px;
            background-color: #BBD1E9;
            border-radius: 14px 0 0 0;
            font-size: .8em;
        }
    }

    .item-body {
        padding: 15px;

        .item-title {
            font-weight: 500;
            font-size: 1.1em;
            margin-bottom: 5px;
            color: #CC1105;
        }

        .item-content {
            color: #800000;
            overflow: hidden;
        }
    }

    .item-footer{
        .item-datetime{
            text-align: right;
            padding: 0 10px;
            color: #808080;
            font-size: .9em;
        }
    }

    &:hover {
        img {
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
            -webkit-transform: scale(1.2);
            transform: scale(1.2);
        }
    }
}
